/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2e4d3b;
    color: #ffffff;
}

a {
    text-decoration: none;
}

/* Header */

header {
    background-color: #2f5d47;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    text-decoration: none; 
    color: inherit; 
}

.logo a:hover {
    text-decoration: none; 
}


.logo {
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 30px;
    margin-left: auto;
}

.nav-links a {
    color: #fff;
    font-size: 1rem;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-left: auto; 
}

.login-btn,
.get-started-btn {
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 1rem;
    border: 1px solid #ffffff;
    color: #ffffff;
}

.login-btn:hover,
.get-started-btn:hover {
    background-color: #4c8f68;
}

.get-started-btn {
    background-color: #ffffff;
    color: #2f5d47;
}


.login-btn:hover,
.get-started-btn:hover {
    background-color: #4c8f68;
}

.get-started-btn {
    background-color: #ffffff;
    color: #2f5d47;
}

/* Hero Section */
.hero {
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2e4d3b;
    position: relative;
}

.hero .content {
    max-width: 500px;
}

.hero h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.learn-more-btn {
    background-color: transparent;
    border: 2px solid #ffffff;
    padding: 10px 20px;
    border-radius: 50px;
    color: #ffffff;
    font-size: 1rem;
}

.learn-more-btn span {
    padding-left: 10px;
}

.hero-images {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.hero-images img.rounded-image {
    border-radius: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

/* About Section */
.about {
    padding: 3rem 4rem;
    background-color: #354f3e;
    text-align: center;
    height: 300px;
}

.about h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.sub-heading {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.about-description {
    font-size: 1rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    color: #c5d6c5;
}

/* Footer */
footer {
    background-color: #2f5d47;
    color: #ffffff;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer address,
footer p {
    margin: 0;
}

.footer-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.footer-links a {
    color: #ffffff;
}
